CONFIG_BORNEO_PRODUCT_ID="bst/c312rgbw"
CONFIG_BORNEO_PRODUCT_MODE_STANDALONE=n
CONFIG_BORNEO_DEVICE_NAME_DEFAULT="Borneo-4CH-RGBW-Demo"
CONFIG_BORNEO_MODEL_NAME="C312RGBW"
CONFIG_BORNEO_HW_VER="1.0.0"
CONFIG_LWIP_LOCAL_HOSTNAME="bst_rgbw"