CONFIG_BORNEO_PRODUCT_ID="bst/ulva6"
CONFIG_BORNEO_PRODUCT_MODE_FULL=y
CONFIG_BORNEO_DEVICE_NAME_DEFAULT="Ulva-6"
CONFIG_BORNEO_DEVICE_CATEGORY="lighting"
CONFIG_BORNEO_DEVICE_COMPATIBLE="bst,borneo-lyfi"
CONFIG_BORNEO_VENDOR_NAME="BinaryStars"
CONFIG_BORNEO_MODEL_NAME="Ulva-6"
CONFIG_BORNEO_HW_VER="1.0.0"
CONFIG_LWIP_LOCAL_HOSTNAME="bst_ulva6"

################## LED PWM ########################
#################### Override the GPIOs:
CONFIG_LYFI_LED_CH0_GPIO=4
CONFIG_LYFI_LED_CH1_GPIO=10
CONFIG_LYFI_LED_CH2_GPIO=3
CONFIG_LYFI_LED_CH3_GPIO=18
CONFIG_LYFI_LED_CH4_GPIO=5
CONFIG_LYFI_LED_CH5_GPIO=19

###################################### PROTECTION ##############################
CONFIG_LYFI_PROTECTION_OVER_POWER_DEFAULT_VALUE=66000